*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    vertical-align: top;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.button:hover {
    background: #e6e6e6;
    border-color: #adadad;
}

.button.used {
    border-color: #eee;
    color: #adadad;
}

.button.disabled {
    background: #e6e6e6;
    border-color: #adadad;
    cursor: not-allowed;
}

/*--------------------- layout ---------------------*/

.scroll-view {
    width: 100%;
    overflow-y: auto;
}

.content {
    padding: 0 10px;
}

/*--------------------- status ---------------------*/

.status-table {
    width: 100%;
}

.status-table th,
.status-table td {
    padding: 5px;
    vertical-align: middle;
}

.status-table th {
    width: 12%;
    text-align: left;
}

.status-table td {
    width: 22%;
    text-align: center;
}

.status-table .led {
    display: inline-block;
    width: 20px;
    height: 10px;
    border: 1px solid #eee;
    vertical-align: middle;
}

.status-table .led.red {
    background: #e10000;
}

.status-table .led.green {
    background: #00ab00;
}

.status-table td.standby {
    color: #ddd;
}

/*--------------------- scan ---------------------*/

.scan-wrapper {
    margin: 5px 0;
}

.scan-wrapper .scan-result {
    margin: 10px 0 0 0;
    line-height: 1.5em;
}
