{% extends 'layout.html' %}
{% block body %}
    <div class="wrapper profiles-mode">
        <div class="scroll-view">
            <div class="content">
                <div class="actions">
                    <a href="{{ url_for("profiles_load") }}" class="btn btn-default">
                        Load current profiles from charger
                    </a>
                    <a href="{{ url_for("profiles_import") }}" class="btn btn-default">
                        Import JSON
                    </a>
                </div>

                {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}

                {% if found %}
                    <h4>Found following profiles</h4>

                    {% if imported %}
                        <div class="alert alert-info">
                            Please don't import modified JSON profiles unless you are sure manual changes are valid.
                            This application <b>doesn't</b> validate values and thus invalid values may lead to
                            unexpected errors. Be aware.
                        </div>
                    {% endif %}

                    <form action="" method="post">
                        <div class="profile-list">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        {% if not imported %}
                                            <td>Slot</td>
                                        {% endif %}
                                        <td>Profile</td>
                                        <td>Name</td>
                                        <td>Save?</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for profile in found %}
                                        <tr data-id="{{ profile.id }}" data-toggle-checkbox>
                                            {% if not imported %}
                                                <td>{{ profile.get_slot() }}</td>
                                            {% endif %}
                                            <td>{{ profile.get_description() }}</td>
                                            <td>
                                                <input type="text" class="form-control" name="name-id-{{ profile.id }}" value="{{ profile.name if profile.name }}" autocomplete="abcd" />
                                            </td>
                                            <td>
                                                <input type="checkbox" name="save-id-{{ profile.id }}" />
                                            </td>
                                            <td>
                                                <a href="#" data-show-details class="btn btn-sm btn-default">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="action">
                                <button type="submit" class="btn btn-default">Confirm</button>
                                <button type="submit" name="cancel" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </form>
                {% endif %}

                {% if profiles %}
                    <h4>Saved profiles</h4>

                    <form action="" method="post" data-profiles-form>
                        <div style="display:none"><input type="text" name="auto-complete-me" /></div>
                        <div class="profile-list">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Name</td>
                                        <td>Profile</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for profile in profiles %}
                                        <tr data-id="{{ profile.id }}">
                                            <td class="position">
                                                <span class="number">{{ loop.index }}</span>
                                                <a href="#" data-move="up" class="btn btn-sm btn-default" title="move up">
                                                    ▲
                                                </a>
                                                <a href="#" data-move="down" class="btn btn-sm btn-default" title="move down">
                                                    ▼
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="name-id-{{ profile.id }}" value="{{ profile.name }}" autocomplete="abcd" />
                                            </td>
                                            <td>{{ profile.get_description() }}</td>
                                            <td>
                                                <a href="#" data-show-details class="btn btn-sm btn-default">
                                                    Details
                                                </a>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Set <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#" data-set-slot="{{ url_for("profiles_set", id=profile.id, slot=0) }}">Slot 1</a></li>
                                                        <li><a href="#" data-set-slot="{{ url_for("profiles_set", id=profile.id, slot=1) }}">Slot 2</a></li>
                                                        <li><a href="#" data-set-slot="{{ url_for("profiles_set", id=profile.id, slot=2) }}">Slot 3</a></li>
                                                        <li><a href="#" data-set-slot="{{ url_for("profiles_set", id=profile.id, slot=3) }}">Slot 4</a></li>
                                                        <li><a href="#" data-set-slot="{{ url_for("profiles_set", id=profile.id, slot="all") }}">All slots</a></li>
                                                    </ul>
                                                </div>
                                                <a href="{{ url_for("profiles_export", id=profile.id) }}" class="btn btn-sm btn-default">
                                                    Export
                                                </a>
                                                <a href="#" data-href="{{ url_for("profiles_delete", id=profile.id) }}" data-confirm="Are you sure you want to delete profile '{{ profile.get_description(True) }}'?" class="btn btn-sm btn-danger">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="action">
                                <button type="submit" class="btn btn-default" disabled>Save changes</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    {% macro render_profile_detail_modal(profile, source=None) %}
        <div class="modal fade" tabindex="-1" data-id="{{ profile.id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            {% if source == "json" %}
                                Imported profile '{{ profile.get_description(True) }}'
                            {% elif source == "usb" %}
                                Slot {{ profile.get_slot() }}
                            {% else %}
                                Profile '{{ profile.get_description(True) }}'
                            {% endif %}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            {% for item in profile.get_display_fields() %}
                                <tr>
                                    <th title="{{ item["name"] }}">{{ item["alias"] }}</th>
                                    <td title="{{ item["raw_value"] }}">{{ item["value"] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endmacro %}

    {% for profile in profiles %}
        {{ render_profile_detail_modal(profile) }}
    {% endfor %}
    {% if found %}
        {% for profile in found %}
            {{ render_profile_detail_modal(profile, source="json" if imported else "usb") }}
        {% endfor %}
    {% endif %}
{% endblock %}
